.transfer-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.transfer-inputs > * {
  flex: 1;
}
