.navigation-header-create-pro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navigation-card-create-pro {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
// .Toolbar-Item {
//   display: flex;
//   justify-content: space-between;
//   margin-right: 10px;
//   gap: 10px;
// }
.informer {
  margin-left: 20px;
}

.initiate-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.initiate-inputs > * {
  flex: 1;
}
.additional-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 25px;
  height: auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: 44px;
  }
}
.additional-information > * {
  flex: 1;
}
.expandable-text {
  color: #262626;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;
}
.btn-disable {
  background-color: #c6c6c6;
  color: #fff;
}
.popup {
  border: none;
  border-radius: 0;
}
.selectbox-right {
  margin-right: 8px !important;
}
.selectbox-left {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
