.popup-main-cointainer {
  padding: 0px;
  .popup-header {
    display: flex;
    justify-content: space-between;

    .close-btn-section {
      padding-top: 0px;
      padding-right: 2%;
    }
    .close-btn-section .dx-button {
      border: none;
    }
  }
}
@media (max-width: 768px) {
  .search-panel {
    width: 300px;
  }
}
.expandable-text {
  .dx-widget.dx-button.dx-button-mode-contained.dx-button-normal.dx-button-has-icon {
    border: none;
    background: none;
  }
}
.search-panel-width {
  .popup-data {
    .dx-widget.dx-visibility-change-handler {
      .dx-datagrid.dx-gridbase-container {
        .dx-datagrid-header-panel {
          margin-right: 0px;
          .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection {
            .dx-toolbar-items-container {
              .dx-toolbar-after {
                width: 100%;
                padding-left: 0px !important;
                .dx-item.dx-toolbar-item.dx-toolbar-button {
                  .dx-item-content.dx-toolbar-item-content {
                    .dx-datagrid-search-panel {
                      width: 100% !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.on-hover-data {
  .dx-row.dx-data-row.dx-column-lines {
    .dx-command-edit.dx-command-edit-with-icons {
      .dx-cell-focus-disabled {
        display: none;
      }
      .dx-link.dx-link-edit.dx-icon-edit.dx-link-icon {
        display: none;
      }
      .dx-link.dx-link-delete.dx-icon-trash.dx-link-icon {
        display: none;
      }
    }
  }
}
.on-hover-data {
  .dx-row.dx-data-row.dx-column-lines:hover {
    .dx-command-edit.dx-command-edit-with-icons {
      .dx-link.dx-link-edit.dx-icon-edit.dx-link-icon {
        display: inline-block;
        transition: 0.2s;
      }
      .dx-link.dx-link-delete.dx-icon-trash.dx-link-icon {
        display: inline-block;
      }
    }
  }
}
