@import "../../themes/generated/variables.base.scss";
@import "../../dx-styles.scss";

.header-component {
  flex: 0 0 auto;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 0px 1px rgba(0, 0, 0, 0.24);

  .dx-toolbar .dx-toolbar-item.menu-button > .dx-toolbar-item-content .dx-icon {
    color: $base-accent;
  }
  .dx-button {
    border: none;
  }
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;
  .screen-x-small & {
    padding: 0 10px;
  }
}

.dx-toolbar .dx-toolbar-item.dx-toolbar-button.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
  // padding-left: 20px;
}

.header-title .dx-item-content {
  padding: 0;
  margin: 0 0 0 35px;
  .screen-x-small & {
    padding: 0;
    margin: 0;
  }
}

.dx-theme-generic {
  .dx-toolbar {
    padding: 16px 0;
  }

  .user-button > .dx-button-content {
    padding: 3px;
  }
}
.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &.solid {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
}
.dx-card {
  .dx-icon {
    font-size: 20px;
    // color: #525252;
  }
}
.dx-icon {
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  user-select: none;
}
.header-toolbar {
  .nav-icons {
    .material-symbols-outlined {
      border-right: 1px solid #b9b9b9;
      padding-right: 20px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .bell-icon {
        font-size: 22px;
        cursor: pointer;
        &:hover {
          animation: shake 0.5s ease-in-out;
        }
      }

      @keyframes shake {
        0% {
          transform: rotate(0deg);
        }

        25% {
          transform: rotate(-10deg);
        }

        50% {
          transform: rotate(10deg);
        }

        75% {
          transform: rotate(-10deg);
        }

        100% {
          transform: rotate(0deg);
        }
      }
    }

    .material-symbols-outlined.search-icon {
      font-size: 20px;
      margin-left: 1rem;
    }

    .notification {
      position: relative;

      .notify-badge {
        border-radius: 20px;
        width: 12px;
        height: 12px;
        background-color: #0057a1;
        // background-color: #ff0000;
        position: absolute;
        top: 0px;
        // right: 0px;
        margin-left: 12px;
        font-size: 8px;
        line-height: 13px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #fff;
        font-weight: 700;
        align-items: center;
        text-align: center;
      }
    }
  }
}
