@import "../../themes/generated/variables.base.scss";

.add-info {
  display: flex;
  align-items: center;

  .dx-toolbar-menu-section & {
    padding: 10px 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .add-image-container {
    overflow: hidden;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #0057a1;

    .add-image {
      width: 45%;
      height: 45%;
      margin-left: 6px;
      margin-top: 6px;
    }
  }
}

.add-panel {
  .dx-list-item.dx-icon {
    vertical-align: middle;
    color: $base-text-color;
    margin-right: 16px;
  }
  .dx-rtl .dx-list-item .dx-icon {
    margin-right: 10px;
    margin-left: 16px;
  }
}
.dx-overlay-content.dx-inner-overlay.dx-context-menu.user-menu.dx-menu-base {
  // position: absolute;
  // width: auto !important;
  // top: 10px !important;
  // right: 0 !important;
  // transform: translate(1563px, 60px) !important;
}

.dx-context-menu.user-menu.dx-menu-base {
  &.dx-rtl {
    .dx-submenu .dx-menu-items-container .dx-icon {
      margin-left: 16px;
    }
  }
  .dx-submenu .dx-menu-items-container .dx-icon {
    margin-right: 16px;
  }
  .dx-menu-item .dx-menu-item-content {
    padding: 8px 25px 10px;
  }
}

.dx-theme-generic .user-menu .dx-menu-item-content .dx-menu-item-text {
  padding-left: 4px;
  padding-right: 4px;
}
